# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash
  build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/.qmake.stash
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/BankAutomat.app/Contents/Info.plist
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/BankAutomat.app/Contents/MacOS/BankAutomat
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/BankAutomat.app/Contents/PkgInfo
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/BankAutomat.app/Contents/Resources/empty.lproj
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/Makefile
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/debitorcreditform.o
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/loginsystem.o
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/main.o
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/mainwindow.o
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/menuform.o
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/menupage.o
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_debitorcreditform.cpp
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_debitorcreditform.o
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_mainwindow.cpp
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_mainwindow.o
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_menuform.cpp
   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_menuform.o
    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/.qmake.stash
	.:   build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/BankAutomat.app/Contents/Info.plist
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/BankAutomat.app/Contents/MacOS/BankAutomat
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/BankAutomat.app/Contents/PkgInfo
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/BankAutomat.app/Contents/Resources/empty.lproj
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/Makefile
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/debitorcreditform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/loginsystem.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/main.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/mainwindow.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/menuform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/menupage.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_debitorcreditform.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_debitorcreditform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_mainwindow.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_mainwindow.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_menuform.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_menuform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_menupage.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_menupage.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_nostoform.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_nostoform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_predefs.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_saldoform.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_saldoform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_signoutform.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_signoutform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_siirtoform.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_siirtoform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_talletusform.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_talletusform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_tapahtumatform.cpp
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_tapahtumatform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/nostoform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/saldoform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/signoutform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/siirtoform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/talletusform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/tapahtumatform.o
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_debitorcreditform.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_mainwindow.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_menuform.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_menupage.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_nostoform.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_saldoform.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_signoutform.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_siirtoform.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_talletusform.h
	    build-BankAutomat-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_tapahtumatform.h
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/.DS_Store
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/._.DS_Store
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/._ci_client.app
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/._moc_mainwindow.cpp
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/.nfs.20051027.1dc5/Contents/Info.plist
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/.nfs.20051027.1dc5/Contents/MacOS/ci_client
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/.nfs.20051027.1dc5/Contents/PkgInfo
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/.nfs.20051027.1dc5/Contents/Resources/empty.lproj
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/.qmake.stash
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/Makefile
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/ci_client.app/Contents/Info.plist
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/ci_client.app/Contents/MacOS/ci_client
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/ci_client.app/Contents/PkgInfo
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/ci_client.app/Contents/Resources/empty.lproj
	    build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/main.o
  build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/mainwindow.o
  build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_mainwindow.cpp
   build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_mainwindow.o
  build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/moc_predefs.h
   build-ci_client-Desktop_Qt_5_15_1_clang_64bit-Debug/ui_mainwindow.h




# qtcreator generated files
*.pro.user*

# xemacs temporary files
*.flc

# Vim temporary files
.*.swp

# Visual Studio generated files
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# MinGW generated files
*.Debug
*.Release

# Python byte code
*.pyc

# Binaries
# --------
*.dll
*.exe

